@import '../../../styles/settings.scss';

@import '../../../styles/settings.scss';

.root {
    width: 20%;
    padding: 20px 1%;
    .card {
        margin: 0 auto;
        transition: 0.3;
        box-shadow: 0 8px 40px -12px rgba(0,0,0,0.3);
        &:hover {
            box-shadow: 0 16px 70px -12.125px rgba(0,0,0,0.3);
        };
        .media {
            padding-top: 56.25%;
        }
        .content {
            text-align: left;
            min-height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .header {
                font-weight: bold;
                min-height: 70px;
                font-size: $base-size * 1.1;
            }
            .subheader {
                line-height: 1.8,
            }
        };
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .root {
        width: 25%;
    }
 }


 // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .root {
        width: 33%;
        .content {
            .header {
                font-size: $base-size;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .root {
        width: 45%;
        .content {
            .header {
                font-size: $base-size * 0.9;
            }
            
        }
    }
}

@media (max-width: 360.98px) {
    .root {
        width: 100%;
        .content {
            .header {
                font-size: $base-size * 0.9;
            }
            
        }
    }
}