@import '../../../styles/settings.scss';

@import '../../../styles/settings.scss';

.root {
    position: absolute;
    width: 100%;
    .details {
        display: flex;
        justify-content: space-around;
        .media {
            height: 400px;
            width: 40%;
            object-fit: contain;
        }
        .description {
            width: 40%;
            .form {
                display: flex;
                flex-direction: column;
                .formWrapper {
                    div {
                        width: 100%;
                        margin-bottom: 20px;
                }
            }
            .button {
                margin-top: 20px;
                color: $color-light;
                background-color: $color-first;
            }
            }
            .detailsList {
                display: flex;
                flex-direction: column;
                padding-top: $base-size * 2;
                padding-left: 0;
                .detailsItem {
                    padding: $base-size*0.5 0;
                    list-style: none;
                }
                .detailsHeader {
                    border-bottom: 1px solid $color-second;
                }
            }
            .messageFailure {
                color: $color-failure;
            }
            .messageSuccess {
                color: $color-success;
            }
        }
    }

}

@media (max-width: 767.98px) {
    .root {
        .details {
            flex-direction: column;
            .media {
                height: 250px;
                width: 100%;
            }
            .description {
                width: 100%;
                h2 {
                    font-size: $base-size * 1.2;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .root {
        margin-top: 60px;
     }
 }