@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

$base-size: 12px;
$color-dark: #000;
$color-light: #fff;
$color-first: #735050;
$color-second: #BFBFBF;
$font-main:  'Montserrat', sans-serif;
$font_second: 'Roboto', sans-serif;
