@import '../../../styles/settings.scss';

.root {
    .paper {
        height: 350px;
        .image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: 1199.98px) {
    .root {
        .paper {
            height: 300px;
        }
    }
}

@media (max-width: 991.98px) { 
    .root {
        .paper {
            height: 200px;
        }
    }
}

@media (max-width: 575.98px) {
    .root {
        div:first-child {
            display: none;
        }
    }
 }
