@import '../../../styles/settings.scss';

.root {
    .cartIcon {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
    .cart {
        width: 100px;
        height: 100px;
        background: white;
    }
}
