@import '../../../styles/settings.scss';

.root {
    .button {
    color: white;
    background-color: $color-first;
    &:hover {
        color: $color-dark;
        background-color: $color-second;
    }
    }
}
