@import '../../../styles/settings.scss';

.root {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    
    .upperNavigation {
        display: flex;
        justify-content: space-between;
        .logoContainer {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $color-dark;
            h2 {
                padding-left: 20px;
                font-size: $base-size * 2.5;
            };
        }
        .buttonsContainer {
            display: flex;
            align-items: center;
        }
        .menuIcon {
            display: none;
        }
    }
    .bottomNavigation {
        display: flex;
        justify-content: space-evenly;
        font-family: $font_second;
        font-weight: 700;
        font-size: $base-size * 1.2;
    }
}

@media (max-width: 575.98px) {
    .root {
        margin: 10px 0;
        .upperNavigation {
            align-items: center;
            .logoContainer {
                h2 {
                    padding-left: 20px;
                    font-size: $base-size * 1.5;
                };
            }
            .menuIcon {
                display: block;
            }
        }
        .bottomNavigation {
            display: none;

        }
    }
 }

