@import '../../../styles/settings.scss';


.root {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    
    .upperNavigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        .logoContainer {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $color-dark;
            h2 {
                padding-left: 20px;
                font-size: $base-size * 2.5;
            };
        }
        .buttonsContainer {
            display: flex;
            align-items: center;
        }
        .menuIconWrapper {
            display: none;
            .menuIcon {
                cursor: pointer;
            }
        }
    }
    .bottomNavigation {
        display: flex;
        justify-content: space-evenly;
        font-family: $font_second;
        font-weight: 700;
        font-size: $base-size * 1.2;
    }
}
 
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .root {
        .upperNavigation {
            .logoContainer {
                h2 {
                    font-size: $base-size * 2;
                };
            }
            .buttonsContainer {
                display: flex;
                align-items: center;
            }
        }
        .bottomNavigation {
            font-size: $base-size * 1;
        }
    }
 }


@media (max-width: 767.98px) {
    .root {
        .upperNavigation {
            .logoContainer {
                h2 {
                    font-size: $base-size * 1.5;
                };
            }

        }
    }
}

@media (max-width: 575.98px) {
    .root {
        .upperNavigation {
            position: fixed;
            left: 0;
            right: 0;
            background: $color-light;
            z-index: 2;

            .menuIconWrapper {
                display: block;
                .menuList {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50px;
                    height: 80vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    background-color: $color-first;
                    a {
                        color: $color-light;
                        font-size: $base-size * 1.3;
                    }
                }
            }
        }
        .bottomNavigation {
            display: none;
        }
    }
}