@import '../../../styles/settings.scss';

.root {
    position: absolute;
    width: 100%;
    .items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 767.98px) {
    .items {
        flex-wrap: wrap;
        &:after {
            content: "";
            width: 30%;
        }
    }
}

@media (max-width: 575.98px) {
    .root {
        margin-top: 60px;
     }
 }