@import '../../../styles/settings.scss';

.root {
    position: absolute;
    .bannerContainer {
        margin-top: 50px;
    }
    
    .container, .items, .item {
        display: flex;
    }
    .container, .item {
        flex-direction: column;
    }
}

.container {
    margin-top: 50px;
    .title {
        font-size: $base-size * 2;
        padding-bottom: $base-size * 2;
    }
    .items {
        justify-content: space-between;

        .item {
            align-items: center;
            width: 30%;
            height: 150px;
            border: 1px solid $color-second;
            justify-content: center;
            p {
                font-size: $base-size *1.5;
                font-weight: bold;
            }
        }
        .icon {
            height: $base-size * 3;
            width: $base-size * 3;
            color: $color-first;
        }
    }
}

@media (max-width: 991.98px) { 
    .container {
        .items {
            flex-wrap: wrap;
            &:after {
                content: "";
                width: 30%;
            }
        }
        .options {
            .item {
                height: 100px;
                p {
                    font-size: $base-size;
                }
            }
        }
    }
} 

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .container {
        .options {
            height: 350px;
            flex-direction: column;
            .item {
                width: 100%;
            }
        }
        .title {
            font-size: $base-size * 1.5;
            padding-bottom: 0;
            text-align: center;
        }
    }
}

@media (max-width: 767.98px) { 
    .container {
        .title {
            font-size: $base-size * 1.2;
        }
    }
}