@import '../../../styles/settings.scss';

.root {
    width: 45%;
    .form {
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-between;
        div {
            width: 100%;
        }
        .button {
            color: $color-light;
            background-color: $color-first;
        }
    }
}


@media (max-width: 575.98px) {
    .root {
        width: 100%;
    }
 }