@import '../../../styles/settings.scss';

.root {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;

    .logoContainer {
        display: flex;
        align-items: center;
    }
    .sitemap {
        border-left: 1px solid $color-second;
        .sitemapContainer {
            display: flex;
            flex-direction: column;
            padding-left: $base-size;
            a {
                padding-bottom: 10px
            }
        }

    }
    .socialMedia {
        margin-top: 50px;
        border-top: 1px solid $color-second;
        width: 100%;
        display: flex;
        justify-content: center;
        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: $color-first
            };
        }
        p,a {
            padding-right: $base-size;
        }
    }
    .logoContainer, .sitemap, .newsletter {
        width: 30%;
    }
}

@media (max-width: 575.98px) {
    .root {

        flex-direction: column;
        .address {
            p {
                text-align: center;
            }
        }
        .sitemap {
            border-left: none;
            .sitemapContainer {

                padding-left: 0;
                a {
                    padding-bottom: 10px;
                    text-align: center;
                }
            }
    
        }
        .socialMedia {
            .icons {
                padding: 10px 0;
            }
            p {
                display: none;
            }
        }
        .logoContainer, .sitemap, .newsletter {
            width: 100%;
        }
        h2 {
            font-size: $base-size * 1.5;
        }
    }
 }

